<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Selamat Datang, <%= nama %>!</h1>

    <a href="/admin/profil">profil</a>
    <a href="/admin/dasbor">dasbor</a>
    <a href="/admin/masyarakat">masyarakat</a>
    <a href="/admin/petugas">petugas</a>
    <a href="/admin/laporan">belum dibalas</a>
    <a href="/admin/selesai">sudah dibalas</a>
    <a href="/admin/riwayat">riwayat</a>

    <br> <a href="/admin/logout" onclick="return confirm('Apakah Anda Ingin Logout?')">logout</a>
</body>
</html>