<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <center>
        <h1>Aplikasi Laporan Masyarakat Depok</h1> <br>
        <h1>Login Petugas</h1>

        <% if (typeof errors !== 'undefined') { %>
            <h3 style="color: red;">! <%= errors[0].message %></h3>
        <% } %>

        <form action="/login-petugas" method="post">
            <input type="text" id="username" name="username" placeholder="Username" required> <br>
            <input type="password" id="password" name="password" placeholder="Password"> <br> <br>
            <button type="submit">Login</button> <br>
        </form>

        <br> <a href="/">back</a>
    </center>
</body>
</html>