<style>
    .title {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }

    .div-form {
        background-color: #2E3691;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
    }

    .form-control {
        border-radius: 10px;
    }

    .btn {
        border-radius: 10px;
    }
</style>

<body>
    <% if (pass == false) { %>
        <h1 class="title">Masukan Password Anda Saat Ini</h1>

        <% if (typeof errors !== 'undefined') { %>
            <div class="container w-25">
                <p class="alert alert-danger" style="color: red;"><i class="fa-solid fa-circle-exclamation"></i> <%= errors %></p>
            </div>
        <% } %>

        <div class="container div-form w-25 mt-4">
            <form action="/user/profil/password" method="post">
                <input class="form-control mb-2" type="password" id="password" name="password" placeholder="Password" required>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-danger" style="width: 23%;" href="/user/profil"><i class="fa-solid fa-right-from-bracket"></i></a>
                    <button class="btn btn-success w-75" type="submit"><i class="fa-solid fa-check"></i></button>
                </div>
            </form>
        </div>
    <% } %>

    <% if (pass == true) { %>
        <h1 class="title">Masukan Password Baru</h1>

        <% if (typeof errors !== 'undefined') { %>
            <div class="container w-50">
                <p class="alert alert-danger" style="color: red;"><i class="fa-solid fa-circle-exclamation"></i> <%= errors %></p>
            </div>
        <% } %>

        <div class="container div-form mt-4 w-25">
            <form action="/user/profil/password/baru" method="post">
                <input class="form-control mb-2" type="password" id="password" name="password" placeholder="Password" required>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-danger" style="width: 23%;" href="/user/profil"><i class="fa-solid fa-right-from-bracket"></i></a>
                    <button class="btn btn-success w-75" type="submit"><i class="fa-solid fa-check"></i></button>
                </div>
            </form>
        </div>
    <% } %>
</body>